$primary-color: #4e4d4d;
$secondary-color: #cbbb9f;

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1540px
) !default;

$h1-font-size:                3.33rem !default;
$h2-font-size:                1.66rem !default;
$h3-font-size:                1.66rem !default;
$h4-font-size:                1rem !default;


$link-color:                              $primary-color !default;
$link-hover-color:                        $primary-color !default;



@import "fonts";
@import "node_modules/bootstrap/scss/bootstrap";
@import "node_modules/bootstrap/scss/_mixins";

@include media-breakpoint-down(sm) { .text-nowrap { white-space: normal!important;} }

h1, h2, h3 {
    font-weight: bold;
}
h1,h2,h3,h4,p {
    color: $primary-color;
}
.more-us-box p {
    font-size: 1.66rem;
}
h3 {
    margin: 46px 0px 40px 0px;
}
::placeholder {
    color: black;
    font-size: 0.77rem;
}
header {
    background: url(img/banner-dreampark-b.jpg);
    background-size: cover;
    transition:all 1s;
}
header.next-slide {
    background: url(img/banner-dreampark-a.jpg);
    transition:all 1s;
}
.row.header-row {
    display: table;
    vertical-align: bottom;
    min-height: 747px;
}
.header-row .col {
    display: table-cell;
    vertical-align: bottom;
} 
.header-box {
    max-width: 343px;

}
.header-box>span {
    display: block;
    background: $secondary-color;
    padding: 10px 15px;
    margin-top: 24px;
    color: white;
    font-size: 1.77rem;
    font-weight: bold;
    text-transform: uppercase;
}
.header-box-logo {
    width: 100%;
}
.about-box  {
    margin: 33px 0px 30px 0px;
}
.more-us-box {
    margin: 45px 0px 30px 0px;
}
.about-box p {
    color: $secondary-color;
    font-size: 1.32rem;
}
.more-us-box a {
    color: $secondary-color;
    font-size: 2.72rem;
    font-weight: 500;
}
.more-us-box a:hover {
    color: $secondary-color;
}
.newsletter-box .newsletter-box-position {
    position: relative;
    width: 100%;
    border-bottom: 1px solid #000;
    padding: 8px 0px;
}
.newsletter-box .newsletter-box-position input[type=email] {
    border: none;
    width: 100%;
    outline: none;
}
.newsletter-box-position-submit {
    position: absolute;
    top: 0;
    right: 0;
    padding: 8px 0px;
}
.newsletter-box .newsletter-box-position input[type=submit] {
    position: relative;
    color: $secondary-color;
    background: none;
    border: none;
}
.newsletter-box .newsletter-box-position .newsletter-box-position-submit {
    background: none;
    border: none;
}
.newsletter-box .newsletter-box-position .newsletter-box-position-submit:after {
    content: '';
    width: 27px;
    height: 5px;
    top: 0;
    display: inline-block;
    vertical-align: center;
    vertical-align: middle;
    right: 0;
    background-image: url(img/arrow.png);
    background-repeat: no-repeat;
}
.newsletter-box-checkbox {
    position: relative;
    margin-top: 30px;
}
.newsletter-box-checkbox input {
    opacity: 0;

}
.newsletter-box-checkbox .checkbox-mark {
position: absolute;
top: 0;
left: 0;
height: 14px;
width: 14px;
border: 1px solid black;
}
.newsletter-box-checkbox:hover input ~ .checkbox-mark {
    background-color: rgb(236, 236, 236);
  }
.newsletter-box-checkbox .checkbox-text {
    color: #a9a9a9;
    font-size: 0.55rem;
    float: right;
    margin-left: 33px;
}
.newsletter-box-required div.mce_inline_error {
    bottom: 11px;
    top: auto;
}
.checkbox-mark:after {
    content: "";
    position: absolute;
    display: none;
  }
.newsletter-box-checkbox input:checked ~ .checkbox-mark:after {
    display: block;
  }
.newsletter-box-checkbox .checkbox-mark:after {
    left: 4px;
    top: 1px;
    width: 4px;
    height: 8px;
    border: solid black;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}
div#mce-responses #mce-success-response {
    background: green;
    padding: 20px;
    color: white;
    margin-top: 20px;
}
div#mce-responses #mce-error-response {
    background: red;
    padding: 20px;
    color: white;
    margin-top: 20px;
}
#mce-responses a {
color: white;
text-decoration: underline;
}
div.mce_inline_error {
    position: absolute;
    color: red;
    font-size: 0.61rem;
    bottom: -20px;
    left: 0px;
    display: block;
}
button:disabled, input[type=submit] {
    cursor: pointer;
}
footer {
padding: 63px 0px;
background: #2e2e2e;
margin: 101px 0px 0px;
}
@media (max-width: 767.98px) { 
    .row.header-row {
    height: 100vh;
    min-height: auto;
    margin: 0 auto;
    }
}